/* Common Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header,
main {
    margin: 0 100px;
}

/* Heading section */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.heading {
    display: flex;
    align-items: center;
}

.heading img {
    width: 40px;
    margin-right: 15px;
}

.heading h2 {
    font-size: 30px;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    font-weight: 600;
}

.navigation li a {
    text-decoration: none;
    color: black;
    padding-left: 40px;
}

/* Body section */
/* Banner Section */
.banner {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 100px 130px;
    text-align: center;
}

.banner-title {
    font-size: 70px;
    color: white;
}

.banner-discription {
    color: white;
    margin: 20px 80px;
}

.banner-input {
    background-color: rgba(228, 228, 228, 0.418);
    margin: 50px 50px 0px;
    border-radius: 7px;
}

.banner-input input {
    margin-right: 14px;
    padding: 12px 10px;
    border-radius: 7px;
    border: none;
}

.primary-button {
    color: white;
    font-weight: 800;
    background-color: rgba(255, 97, 23, 0.986);
    margin: 10px 0px;
    padding: 10px 35px;
    border-radius: 7px;
    border: none;
}

/* Popular Tours Section */
.tours {
    display: flex;
    margin: 80px 0;
}

.tours-discription {
    margin-right: 60px;
}

.tours-discription h1 {
    font-size: 30px;
}

.tours-discription p {
    font-size: 15px;
    color: grey;
    margin: 25px 0px;
}

.tours-discription ul>li {
    font-size: 15px;
    color: grey;
    margin: 20px 25px;
}