/* Common Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header,
main {
    margin: 0 90px;
}

/* Heading section */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.heading {
    display: flex;
    align-items: center;
}

.heading img {
    width: 40px;
    margin-right: 15px;
}

.heading h2 {
    font-size: 2rem;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    font-weight: 600;
}

.navigation li a {
    text-decoration: none;
    color: black;
    padding-left: 40px;
}

/* Body section */
/* Banner Section */
.banner {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 180px;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    color: white;
}

.banner-discription {
    color: white;
    font-size: 1rem;
    margin: 20px 0px;
}

.banner-input {
    background-color: rgba(228, 228, 228, 0.418);
    margin: 50px 0px;
    border-radius: 7px;
}

.banner-input input {
    margin-right: 14px;
    padding: 12px 10px;
    border-radius: 7px;
    border: none;
}

.primary-button {
    color: white;
    font-weight: 800;
    background-color: rgba(255, 97, 23, 0.986);
    margin: 10px 0px;
    padding: 10px 35px;
    border-radius: 7px;
    border: none;
}

/* Popular Tours Section */
.tours {
    display: flex;
    gap: 60px;
    margin: 80px 0;
}

/* .tours-discription {
    margin-right: 60px;
} */

.tours-discription h1 {
    font-size: 30px;
}

.tours-discription p {
    font-size: 15px;
    color: grey;
    margin: 25px 0px;
}

.tours-discription ul>li {
    font-size: 15px;
    color: grey;
    margin: 20px 25px;
}

/* Destination Section */

.destination-title {
    text-align: center;
    margin-bottom: 40px;
}

.destination-title h1 {
    font-size: 30px;
}

.destination-title p {
    font-size: 15px;
    color: grey;
    margin: 20px 0px;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.row>div {
    position: relative;
    color: white;
}

.row h3 {
    position: absolute;
    top: 50%;
    left: 40%;
}





/* Responsive Section */
@media screen and (max-width:660px) {

    header,
    main {
        margin: 0 20px;
    }

    .navigation {
        display: none;
    }

    .banner {
        width: 90%;
        padding: 30px 20px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-input {
        margin: 30px 10px;
        padding: 5px 15px;
    }

    .banner-input input,
    button {
        margin-top: 10px;
        width: 270px;
    }



    .tours {
        flex-direction: column;
        margin: 30px 0px;
        gap: 30px;
    }

    .tour-image img {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .row img {
        width: 100%;
        height: 200px;
    }
}